body{
	margin:30px auto;
	max-width:725px;
	line-height:1.1;
	padding:10px;
    background-color: #201F1D;
    color: white;
}
nav img {
	vertical-align: middle;
}
img.float{
	float: left;
	margin-right: 8px;
}
img.border{
	padding-bottom: 12px;
}
a:link{
	color:#6495ED;
}
a:visited{
	color:#6495ED;
}
a {
	color:inherit;
}

#size{
    width: 50%
}

.tomorrow {
    background-color: white;
    color: black;
}