body{
	margin:30px auto;
	max-width:725px;
	line-height:1.1;
	padding:10px;
}
nav img {
	vertical-align: middle;
}
img.float{
	float: left;
	margin-right: 8px;
}
img.border{
	padding-bottom: 12px;
}
a:link{
	color:blue;
}
a:visited{
	color:blue;
}
a {
	color:inherit;
}

#size{
    width: 50%
}